h1 {
  color: forestgreen;
  text-decoration: white wavy 1px overline underline
}

h2:hover {
  font-size 420%;
  text-transform: uppercase;
  color: green;
}

body {
  background-color: black;
}

p {
  color: forestgreen;
}
